{% extends "base.html" %}

{% block title %}Książki{% endblock %}

{% block content %}

    <div class="books">
        
        <table>
            <th>Wszystkie książki</th>
                {% if latest_book_list %}
                
                
                    {% for book in latest_book_list %}
                        {% if book.deleted == False %}
                            <tr>
                                <td>
                                    <a href="{% url 'detail' book.id %}">{{ book.title }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
               
                {% else %}
                    <tr><td>Nie ma dostepnych książek</td></tr>
                {% endif %}
        </table>
    
    </div>

    <div class="books">

            <table>
            <th>Twoje książki</th>
                {% if user.is_authenticated %}
                    {% if user_book_list %}
                        {% for book in user_book_list %}
                            {% if book.deleted == False %}
                                {% if book.user.username == request.user.username %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'detail' book.id %}">{{ book.title }}</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <tr><td><a href="{% url 'book_new' %}">DODAJ KSIĄŻKĘ</a></td></tr>
                {% else %}
                    <tr><td><a href="{% url 'login' %}">Zaloguj się</a> aby przeglądać swoje książki</td></tr> 
                {% endif %}
            </table>

    </div>

{% endblock %}